html, body, .container {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: .5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.header,
.sidebar,
.your-projects,
.announcements,
.trending {
    display: grid;
    box-sizing: border-box;
}

.header {
    padding: 20px 46px 20px 46px;
    grid-column: 2 / 5;
    grid-row: 1;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search-btn {
    background-image: url(svg/magnify.svg);
    height: 24px;
    width: 24px;
    border: none;
    background-color: white;
    align-self: center;
}

input {
    height: 10px;
    border-radius: 14px;
    border: none;
    padding: 10px;
    background-color: rgb(201, 225, 245);
    width: 680px;
    align-self: center;
}

.searchbar-wrap {
    display: grid;
    height: 50px;
}

.searchbar {
    display: grid;
    grid-column: 1/2;
    grid-template-columns: .5fr 10fr;
}

.bellwrap{
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    height: 50px;
}

.bell {
    background-image: url(svg/bell-ring-outline.svg);
    height: 24px;
    width: 24px;
    align-self: center;
    justify-self:end;
    margin-right: 30px;
}

.user,
.user2 {
    display: grid;
}

.user {
    grid-template-columns: .5fr 1fr;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    grid-column: 4/5;
    grid-row: 1/2;
}

.handle {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    margin-left: 16px;
    align-items: center;
}

.user2 {
    width: auto;
    grid-template-columns: .1fr 1fr;
    grid-column: 1/2;
    grid-row: 2/3;
    height: 80px;
    align-items: center;
}

.greeting {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.name2 {
    font-weight: bold;
    font-size: 24px;
}

.name {
    align-self: center;
    margin-left: 6px;
}

.pix>img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.nav {
    display: grid;
    grid-column: 2/5;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr 1fr;
    width: 320px;
    justify-self: end;
    align-items: center;
}

.new,
.upload,
.share {
    align-self: center;
    justify-self: center;
    background-color: rgb(21, 139, 194);
    width: 84px;
    border-radius: 20px;
    height: 36px;
    border: none;
    font-weight: bold;
    color: white;
}

.pix2 {
    width: 64px;
}

.pix2>img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.sidebar {
    grid-template-columns: 90px 90px;
    grid-template-rows: 100px 260px 100px;
    grid-column: 1;
    grid-row: 1/5;
    background-color: rgb(21, 139, 194);
    width: 400px;
    align-items: center;
    justify-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;

}

.navbar {
    display: grid;
    align-self: start;
    justify-self: start;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 80px;
    height: 80px;
    gap: 16px;
    font-size: 20px;
    margin-top: 10px;
}

.navbar2 {
    display: grid;
    align-self: start;
    justify-self: start;
    grid-column: 2/3;
    grid-row: 3/4;
    width: 80px;
    height: 80px;
    gap: 16px;
    font-size: 20px;
    margin-top: 10px;
}

.navicon {
    display: grid;
    align-self: start;
    justify-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 80px;
    height: 80px;
    gap: 16px;
    font-size: 20px;
    margin-top: 10px;
}

.navicon2 {
    display: grid;
    align-self: start;
    justify-items: center;
    grid-column: 1/2;
    grid-row: 3/4;
    width: 80px;
    height: 80px;
    gap: 16px;
    font-size: 20px;
    margin-top: 10px;
}

.dashboard {
    font-size: 26px;
    justify-self: start;
    
}

 .dash {
    background-image: url(svg/view-dashboard.svg);
    height: 50px;
    width: 50px;
    grid-column: 1/2;
 }

 .dashboard {
    grid-column: 2/3;
 }
 
 .house {
    background-image: url(svg/home.svg);
 }

 .icon {
    height: 30px;
    width: 30px;
 }

.text {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 60px 1fr;
    background-color: rgb(201, 225, 245);
    padding: 0px 30px 30px 30px;
    grid-column: 2/5;
    grid-row: 2/3;
}

.subheader {
    align-self: self-end;
    padding-bottom: 8px;
    font-size: 22px;
    font-weight: bold;
}

.your-projects {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: rgb(201, 225, 245);
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

.textbox {
    display: grid;
    width: 360px;
    height: 140px;
    padding: 20px;
    background-color: white;
    border-radius: 4%;
}

.news {
    display:grid;
    border-radius: 3%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px 1fr;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(201, 225, 245);
}
.announcements {
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 3%;
    background-color: white;
}
.trending {
    border-radius: 3%;
    grid-column: 1;
    grid-row: 3/4;
    background-color: white;
}